<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712229651352-67jbns8n9hjgtms3c8lbkb51shq9dr9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712229651352-67jbns8n9hjgtms3c8lbkb51shq9dr9m</string>
	<key>API_KEY</key>
	<string>AIzaSyC93WrgOPDxv9S-b6pVC-mFEmEhhvSRcCA</string>
	<key>GCM_SENDER_ID</key>
	<string>712229651352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-tutorial-pp</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-tutorial-pp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712229651352:ios:67d9f66597077f33e1e1ed</string>
</dict>
</plist>